<#import "layout.html" as layout>

<@layout.page>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>
        <strong> Paste your paragraph here. We make it easier for you to read. </strong>
      </p>
      <form action="/phrasal_verb/doCatchWords" method="post">
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Paragraph</label>
            <textarea rows="10" class="form-control" placeholder="Paste your paragraph"
                      id="content" name="content"
                      style="font-size: 18px;"
                      required data-validation-required-message="Please enter a paragraph.">${content}</textarea>
          </div>
        </div>
        <br>

        <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
        <br>
        <br>
        <br>

        <p style="font-size: 18px;">
          ${paragraphContent!''}
        </p>
        <br>

      </form>
    </div>
  </div>
</div>

<hr>
<br>
<br>

<#if wordLst??>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h4>Vocabulary:</h4>
      <#list wordLst as word>
      <p style="font-size: 17px;">
        <strong>${word.word}</strong> ${word.text} - <em>${word.type}</em>. ${word.meaning}
        <audio controls>
          <source src="${word.audio}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </p>
      </#list>
    </div>
  </div>
</div>

<hr>
</#if>

<#if phrasalVerbLst??>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h4>Phrasal Verbs:</h4>
      <table class="table">
        <tr>
          <th>No</th>
          <th>Phrasal Verb</th>
          <th>Definition</th>
          <th>Example</th>
          <th>Contributor</th>
        </tr>
        <#list phrasalVerbLst as phrasal>
        <tr>
          <td>.</td>
          <td>${phrasal.display!''}</td>
          <td>${phrasal.definition!''}</td>
          <td>${phrasal.example!''}</td>
          <td>${phrasal.contributor!''}</td>
        </tr>
      </#list>
      </table>
    </div>
  </div>
</div>
</#if>


</@layout.page>