<#import "layout.html" as layout>

<@layout.page>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>You can contribute follow the format below: &lt;verb&gt;/&lt;preposition&gt;/&lt;display&gt;/&lt;example&gt;</p>
            <form action="/contribute/saveContribute" method="post" id="main_form">
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Phrasal verbs:</label>
                        <textarea rows="5" class="form-control" placeholder="Paste your phrasal verbs"
                                  id="content" name="content"
                                  required ></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group" id="nameoremail_area">
                    <div class="form-group floating-label-form-group controls">
                        <label>Your name or email</label>
                        <input type="text" class="form-control" placeholder="Your name or email"
                               id="nameoremail"
                               name="contributor"
                               required >
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
            </form>
        </div>
    </div>

    <div class="row" id="phrasal_verb_area">
        <div class="col-lg-8 col-md-10 mx-auto">
            <table class="table" id="phrasal_verb_table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Verb</th>
                        <th>Preposition</th>
                        <th>Display</th>
                        <th>Definition</th>
                        <th>Example</th>
                    </tr>
                </thead>
                <tbody id="table_body">
                </tbody>
            </table>
            <br>
            <br>
            <button class="btn btn-primary" id="sendMessageButton" form="main_form">Send your contribute</button>
        </div>
    </div>
</div>
</@layout.page>

<script>
    $(function() {
        $("#phrasal_verb_area").hide();
        $("#nameoremail_area").hide();
        $("#content").keyup(function (){
            let content = $("#content").val();
            let lines = content.split("\n");

            if (content) {
                console.log("show");
                $("#phrasal_verb_area").show();
                $("#nameoremail_area").show();
                $("#table_body").empty();
                lines.forEach(function (line){
                    let phrasalVerb = line.split("/");
                    let phrasalVerbContainer = [];
                    for (let i = 0; i<5; i++) {
                        if (phrasalVerb[i])
                            phrasalVerbContainer.push(phrasalVerb[i]);
                        else
                            phrasalVerbContainer.push("");
                    }
                    $("#table_body").append("<tr><th scope=\"row\">#</th>" +
                        "<td>"+phrasalVerbContainer[0]+"</td>" +
                        "<td>"+phrasalVerbContainer[1]+"</td>" +
                        "<td>"+phrasalVerbContainer[2]+"</td>" +
                        "<td>"+phrasalVerbContainer[3]+"</td>" +
                        "<td>"+phrasalVerbContainer[4]+"</td></tr>");
                });
            } else {
                console.log("hide");
                $("#phrasal_verb_area").hide();
                $("#nameoremail_area").hide();
            }
        });

        $("#main_form").submit(function (event) {
            // event.preventDefault();
            console.log("success");
        });

    });
</script>
